@media screen and (max-width: 480px){

.top {
    padding: 0px 100px 9px 100px;
    display: block;
    margin: 0px 0px 0px 0px;
    position: fixed;
}

#body {
  margin-top: 60px;
}


/*-----navigation and social media-----*/
#burger {
  width: 40px;
  height: 40px;
}

#nav {
  margin-left: -1px;
  margin-top: 3px;
}

#hotdog {
  width: 40px;
  height: 40px;
}

#soc {
  margin-left: 50px;
  margin-top: 3px;
}

/*-----content restyling-----*>
/*--home--*/
#intro {
  margin-left: -2px;
  margin-top: 220px;
  margin-bottom: 220px;
}

/*--bio--*/
#a {
  margin-left: -40px;
}

#fbio {
  width: 60%;
  height: 60%;
}

#bio h4{
  margin-left: 10px;
  font-size: 20px;
}

/*--projects--*/
.b {
  margin-top: -300px;
  margin-left: -2px;
}

#fp {
  width: 70%;
  height: 70%;
  margin-left: -20px;
}

/*--artworks--*/
#c {
  margin-top: -500px;
  margin-left: 15px;
}

#aa {
  width: 80%;
  height: 80%;
}

.row iframe {
  width: 90%;
  height: 20%;
}

#polaroidaw {
  width: 87%;
}

/*--others--*/
#d {
  margin-top: -80px;
  margin-left: -8px;
}

#other {
  width: 70%;
  height: 70%;
}

#polaroidoth {
  width: 90%;
}

}
