@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Indie+Flower');

body {
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f2f2f2 300px)
}

#meh {
  margin: 11px 0px 0px 9px;
  background-color: transparent;
  position: fixed;
  float: left;
  padding: 10px 70px 10px 70px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  color: black;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: black;
}

#burger {
  width: 85px;
  height: 85px;
}

#nav {
  margin: 65px 0px 0px 9px;
  background-color: transparent;
  padding-left: 0px;
  position: fixed;
  float: left;
  padding: auto;
  border-style: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 20px;
}


/*navigation*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar button {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  font-family: 'Gloria Hallelujah', cursive;
  border-style: none;
}

.sidebar button:hover, .offcanvas button:focus{
  color: #f1f1f1;
  font-weight: bold;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#open {
  margin: 200px 0px 0px 300px;
}

#body {
    transition: margin-left .5s;
    padding: 16px;
}

#icon {
  width: 30px;
  height: 30px;
  padding: 0px 0px 0px 0px;
}

.active {
  text-decoration: line-through;
}


/*content styling*/

#logo {
  width: 700px;
  height: 700px;
  margin-left: 350px;
  margin-top: -40px;
}

#bio h2, h3, h4 {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
}

#bio h3, h4 {
  font-size: 40px;
}

#bio h2 {
  padding: 0px 0px 0px 0px;
  margin: -135px 0px 0px 147px;
  font-size: 80px;
}

p {
  font-family: 'Architects Daughter', cursive;
  margin-left: 70px;
  font-size: 20px;
}

#bio {
  margin-left: 370px;
  margin-bottom: 500px;
}

#bio h4 {
  margin-left: 400px;
}

#fbio {
  width: 350px;
  height: 310px;
  margin-left: -150px;
  margin-top: 60px;
}

#pp {
  margin-top: 300px;
  margin-left: 370px;
  margin-bottom: 300px;
}

#pp h5, h6 {
  font-size: 80px;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
}

#pp h5 {
  margin: -100px 0px 0px 140px;
}

#pp h6 {
  margin: -135px 0px 0px 370px;
}

#fw {
  width: 350px;
  height: 310px;
  margin: 50px 0px 0px -150px;
}

#fd {
  width: 350px;
  height: 310px;
  margin: -195px 0px 0px 125px;
}

#ppp {
  margin: 65px 0px 0px 120px;
}

#aw {
  margin: 400px 0px 70px 120px;
}

#aa {
  width: 350px;
  height: 310px;
  margin: -70px 0px 0px 45px;
}

#aw h7, h8 {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 80px;
}

#aw h7 {
  margin: 0px 0px 0px -100px;
}

#aww {
  width: 350px;
  height: 310px;
  margin: 0px 0px 0px 0px;
}

#aw h8 {
  margin: 0px 0px 0px -50px;
}

#aw  iframe {
  margin-left: 170px;
}

#paint {
  border-radius: 50%;
  width: 205px;
  height: 150px;
  margin-top: -197px;
  margin-left: 60px;
}

#paint:hover {
  transition-duration: 0.4s;
  border-radius: 0%;
  width: 30%;
  height: 30%;
}

#oth {
  margin-top: 200px;
  margin-left: 230px;
  margin-bottom: 301px;
}

#oth h9 {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 80px;
  margin: 0px 0px 0px -136px;
}

/*360*/

@media screen and (max-width: 480px){


.top {
    padding: 0px 100px 9px 100px;
    display: block;
    margin: 0px 0px 0px 20px;
    position: fixed;
}

.sidebar {
  margin: 88px 0px 0px 27px;
}


}
