@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah|Indie+Flower');

body {
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f2f2f2 300px);
  width:100%;
}

#main {
  margin-top: -50px;
}

#meh {
  background-color: transparent;
  position: fixed;
  float: right;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  border-style: none;
  border-color: black;
  font-size: 30px;
}

#fixed-top {
  width: 100%;
  background-color: white;
}

#navbar {
  max-width: 1000px;
}

#sidenavigation {
  float: left;
}

.top {
  float: right;
  display: block;
}

/*------------navigation-------------*/

#burger {
  width: 55px;
  height: 55px;
}

#nav {
  background-color: transparent;
  padding-left: 0px;
  position: fixed;
  float: left;
  padding: auto;
  border-style: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 20px;
  margin-top: -5px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar button {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  font-family: 'Gloria Hallelujah', cursive;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
}

.sidebar button:hover, .offcanvas button:focus{
  color: #f1f1f1;
  font-weight: bold;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#open {
  margin: 200px 0px 0px 300px;
}

#body {
    transition: margin-left .5s;
    padding: 16px;
}

#icon {
  width: 30px;
  height: 30px;
  padding: 0px 0px 0px 0px;
}

.active {
  text-decoration: line-through;
}


/*----------social media side--------*/

#hotdog {
  width: 55px;
  height: 55px;
}

#soc {
  background-color: transparent;
  padding-left: 0px;
  position: fixed;
  float: left;
  padding: auto;
  border-style: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  font-size: 20px;
  margin-top: -5px;
  margin-left: 100px;
}

.social_media {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.social button {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  font-family: 'Gloria Hallelujah', cursive;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
}

.social button:hover, .offcanvas button:focus{
  color: #f1f1f1;
  font-weight: bold;
}

.social_media .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*----------content styling----------*/

/*home*/

#intro {
  width: 100%;
  margin-bottom: 170px;
}

#home {
  max-width: 1200px;
}

#logo {
  width: 60%;
  height: 60%;
  display: block;
  margin: 0px auto;
  padding: auto;
  text-align: center;
}

/*bio*/

#a {
  width: 100%;
  margin-bottom: 100px;
}

#bio h3, h4 {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
}

#bio h3, h4 {
  font-size: 40px;
}

p {
  font-family: 'Architects Daughter', cursive;
  margin-left: 70px;
  font-size: 20px;
}

#bio {
  margin: auto;
  display: block;
  max-width: 2200px;
  text-align: center;
  margin-bottom: 300px;
}

#bio h4 {
  margin-left: 400px;
}

#fbio {
  width: 30%;
  height: 30%;
}

/*projects*/

#fp {
  width: 30%;
  height: 30%;
  margin: 50px 0px 0px -150px;
}

.b {
  width: 100%;
  margin-bottom: 550px;
}

#pp {
  margin: auto;
  display: block;
  max-width: 1200px;
  text-align: center;
  margin: 0px auto;
}

#pros {
  max-width: 1200px;
  margin: 0px auto;
}

#polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1vw;
  float: left;
}

#polaroid:hover {
  border: 2px solid #777;
}

#container {
  text-align: center;
  padding: 10px 20px;
}

#pp {
  margin-bottom: 100px;
}

/*art works*/

#c {
  width: 100%;
  margin-bottom: 170px;
}

#aw {
  max-width: 1200px;
  text-align: center;
  margin: 0px auto;
}

#aa {
  width: 30%;
  height: 30%;
}

#awcontent {
  max-width: 1200px;
  margin: 0px auto;
}

.row  iframe {
  margin: 14px auto;
  float: left;
}

#polaroidaw {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1vw;
  float: left;
}

#polaroidaw:hover {
  border: 2px solid #777;
}

#containeraw {
  text-align: center;
  padding: 10px 20px;
}


/*others*/

#d {
  width: 100%;
  padding-bottom: 300px;
}

#oth {
  max-width: 1200px;
  text-align: center;
}

#other {
  width: 30%;
  height: 30%;
}

#polaroidoth {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  float: left;
}

#polaroidoth:hover {
  border: 2px solid #777;
}

#containeroth {
  text-align: center;
  padding: 10px 20px;
}
